---
import { supabase } from '@lib/supabase';
import DashboardLayout from "@layouts/DashboardLayout.astro";
import { fetchAndParseMarkdown } from "@lib/util";

const { auth } = Astro.locals;

const learnerLedgerResponse = await supabase
  .from('learner_ledger')
  .select()
  .eq('email', auth().sessionClaims?.email);

const learnerLedger = learnerLedgerResponse.data;

const { data, error } = await supabase
  .storage
  .from('mbukit')  // Replace with your bucket name
  .list();

if (error) {
  console.error('Error fetching workshop files:', error);
} else {
  // console.log("Workshop Files Data from supabase storage:", data);
  // return
}

const markedRemoteFileLinks = data.map((f) => `https://gvcpyhkcnsqchooabnez.supabase.co/storage/v1/object/public/mbukit/${f.name}`);
const fileUrls = markedRemoteFileLinks;

let parsedFiles = [];

if (fileUrls.length > 0) {
  parsedFiles = await Promise.all(fileUrls.map(async (url) => {
    try {
      return await fetchAndParseMarkdown(url);
    } catch (error) {
      console.error(`Error fetching or parsing ${url}:`, error);
      return null; // or handle the error in some appropriate way
    }
  }));
} else {
  console.log('No files found in the bucket.');
}


const flattenedResults = parsedFiles.flat();

const filteredResults = flattenedResults.filter((x:any) => {
  return learnerLedger.some((y:any) => {
    return y.workshop_code === x.frontmatter.workshopSecurityCode;
  });
});

---

<DashboardLayout title="Dashboard">


      <!-- Stats Section -->
      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
        <div class="bg-indigo-100 p-4 rounded text-indigo-800">
          <h3 class="text-lg font-medium">Total Workshops</h3>
          <p class="text-2xl font-bold">{data.length}</p>
        </div>
        <div class="bg-indigo-100 p-4 rounded text-indigo-800">
          <h3 class="text-lg font-medium">Completed Workshops</h3>
          <p class="text-2xl font-bold">8</p>
        </div>
        <div class="bg-indigo-100 p-4 rounded text-indigo-800">
          <h3 class="text-lg font-medium">Upcoming Workshops</h3>
          <p class="text-2xl font-bold">4</p>
        </div>
      </section>
         <!-- List of Workshops regsitered -->

      <!-- Workshops Section -->
      <section>
        <h3 class="text-xl font-semibold mb-4">Registered Workshops</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          {
            filteredResults.length > 0? filteredResults?.map((workshop) => (
              <div class="bg-white border border-indigo-200 p-4 rounded shadow hover:shadow-lg transition-shadow">
                <h4 class="text-lg font-semibold mb-2">{workshop?.frontmatter?.title}</h4>
                <p class="text-gray-600 mb-4">{workshop?.frontmatter?.teaser!}</p>

                <a href=`/dashboard/learn/${workshop?.url.split("/")[8].toLowerCase()}` class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700">View Details</a>
              </div>
            )): <h3>You've not registered any workshop yet. <span><a href="/training" class="text-indigo-600 underline font-bold">Workshop Marketplace</a></span> </h3>
          }
        </div>
      </section>
</DashboardLayout>