---
import Layout from "../layouts/Layout.astro";
import Container from "@components/container.astro";
import { SignIn, SignUp, UserButton } from "astro-clerk-auth/components/interactive";
import { SignedIn, SignedOut } from "astro-clerk-auth/components/control";

---

<Layout title="Register">
  <Container>


    <div class="flex items-center justify-center min-h-screen bg-gray-200 -mt-20">
      <div class="">

        <SignedIn>
          <UserButton />
        </SignedIn>


        <SignedOut>
          <SignUp routing="hash" />
        </SignedOut>
        <!--<div class="text-center">-->
        <!--  <h1 class="text-4xl font-extrabold text-gray-900">Register for free</h1>-->
        <!--  <p class="mt-2 text-sm font-semibold text-purple-600">-->
        <!--    Already have an account?-->
        <!--    <a href="/signin" class="text-blue-500 hover:text-blue-700 hover:underline">Sign in</a>-->
        <!--  </p>-->
        <!--  <small>Get access to other free workshops</small>-->
        <!--</div>-->
        <!--<form action="/api/auth/register" method="POST" class="mt-8 space-y-6">-->
        <!--  <div class="rounded-md shadow-sm">-->
        <!--    <div>-->
        <!--      <label for="firstName" class="sr-only">First Name</label>-->
        <!--      <input-->
        <!--        type="text"-->
        <!--        name="firstName"-->
        <!--        id="firstName"-->
        <!--        placeholder="First Name"-->
        <!--        class="block w-full px-4 py-3 text-gray-900 placeholder-gray-500 transition duration-150 ease-in-out bg-gray-100 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"-->
        <!--        required-->
        <!--      />-->
        <!--    </div>-->
        <!--    <div class="mt-4">-->
        <!--      <label for="lastName" class="sr-only">Last Name</label>-->
        <!--      <input-->
        <!--        type="text"-->
        <!--        name="lastName"-->
        <!--        id="lastName"-->
        <!--        placeholder="Last Name"-->
        <!--        class="block w-full px-4 py-3 text-gray-900 placeholder-gray-500 transition duration-150 ease-in-out bg-gray-100 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"-->
        <!--        required-->
        <!--      />-->
        <!--    </div>-->
        <!--    <div class="mt-4">-->
        <!--      <label for="email" class="sr-only">Email</label>-->
        <!--      <input-->
        <!--        type="email"-->
        <!--        name="email"-->
        <!--        id="email"-->
        <!--        placeholder="Email address"-->
        <!--        class="block w-full px-4 py-3 text-gray-900 placeholder-gray-500 transition duration-150 ease-in-out bg-gray-100 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"-->
        <!--        required-->
        <!--      />-->
        <!--    </div>-->
        <!--    <div class="mt-4">-->
        <!--      <label for="phoneNumber" class="sr-only">Phone Number</label>-->
        <!--      <input-->
        <!--        type="tel"-->
        <!--        name="phoneNumber"-->
        <!--        id="phoneNumber"-->
        <!--        placeholder="Phone Number"-->
        <!--        class="block w-full px-4 py-3 text-gray-900 placeholder-gray-500 transition duration-150 ease-in-out bg-gray-100 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"-->
        <!--        required-->
        <!--      />-->
        <!--    </div>-->
        <!--    <div class="mt-4">-->
        <!--      <label for="password" class="sr-only">Password</label>-->
        <!--      <input-->
        <!--        type="password"-->
        <!--        name="password"-->
        <!--        id="password"-->
        <!--        placeholder="Password"-->
        <!--        class="block w-full px-4 py-3 text-gray-900 placeholder-gray-500 transition duration-150 ease-in-out bg-gray-100 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"-->
        <!--        required-->
        <!--      />-->
        <!--    </div>-->
        <!--  </div>-->
        <!--  <div>-->
        <!--    <button-->
        <!--      type="submit"-->
        <!--      class="relative flex justify-center w-full px-4 py-3 mt-4 text-sm font-semibold text-white transition duration-150 ease-in-out bg-gradient-to-r from-blue-600 to-purple-600 rounded-md group hover:from-blue-700 hover:to-purple-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"-->
        <!--    >-->
        <!--      Register-->
        <!--    </button>-->
        <!--  </div>-->
        <!--</form>-->
      </div>
    </div>
  </Container>
</Layout>

<script>
  let canSubmit = true;
  const submitButton = document.querySelector('button[type="submit"]') as HTMLButtonElement;
  const form = document.querySelector('form') as HTMLFormElement;

  form?.addEventListener('submit', (event) => {
    if (!canSubmit) {
      event.preventDefault();
      alert("Too many requests. Please wait a moment and try again.");
      return;
    }

    canSubmit = false;
    submitButton.disabled = true;

    // Re-enable form submission after 60 seconds
    setTimeout(() => {
      canSubmit = true;
      submitButton.disabled = false;
    }, 60000); // 60 seconds
  });
</script>


