---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { SignUp, UserButton } from "astro-clerk-auth/components/interactive";
import { SignedIn, SignedOut } from "astro-clerk-auth/components/control";
---

<Layout title="Sign Up">
  <Container>
    <div class="flex items-center justify-center min-h-screen bg-gradient-to-b from-indigo-200 to-indigo-400 -mt-20">
      <div class="max-w-md w-full p-8 ">
        <SignedIn>
          <UserButton />
        </SignedIn>
        <SignedOut>
          <SignUp routing="hash" />
        </SignedOut>
      </div>
    </div>
  </Container>
</Layout>
