---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Success">
    <div class="flex justify-center items-center min-h-screen bg-gray-200 flex-col">
        <h2 class="text-purple-600 font-medium text-2xl">Your transaction was success</h2>
    <p>Kindly check your email for further details.</p>
    <a href="/signin">Sign in &rarr;</a>
    </div>
</Layout>