---
import Link from "@components/ui/link.astro";
---

<div class="bg-slate-500 bg-cover bg-top bg-blend-multiply bg-gradient-to-r from-indigo-300 to-indigo-600 min-h-[70vh] p-6 md:p-12 lg:p-20 mt-20 grid gap-8 items-center text-white">
  <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
    <section>
      <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold mb-4">Transforming the Future of Work Together</h1>
      <p class="text-base sm:text-lg md:text-xl mb-8">
        At Skyfusion, we're on a mission to redefine how people and companies collaborate, innovate, and succeed. Our vision is a world where education, technology, and creativity merge seamlessly to create smarter, more sustainable, and fulfilling ways of working.
      </p>
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold mb-4">Empowering Innovation and Growth</h2>
      <p class="text-base sm:text-lg mb-8">
        We believe the conventional approach to work needs a revolution. Imagine a future where ingenuity thrives, knowledge is shared freely, and everyone is inspired to reach their full potential. At Skyfusion, we are dedicated to making this vision a reality by connecting minds and fostering an environment where brilliance meets opportunity.
      </p>
      <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold mb-4">Building a Better Tomorrow</h2>
      <p class="text-base sm:text-lg mb-8">
        Our goal is simple yet profound: to create a platform that breaks down barriers and unites brilliant individuals and forward-thinking companies. No matter where you are or what challenges you face, Skyfusion is here to help you collaborate, learn, and build incredible things together.
      </p>

      <Link class="bg-indigo-500 px-4 sm:px-8 sm:py-1 md:px-12 md:py-2 text-base sm:text-lg md:text-xl" href="/register">Join us today</Link>
    </section>
    <div>
      <img src="/bg1.jpg" alt="Background Image" class="w-full h-auto rounded-lg shadow-lg" />
    </div>
  </div>
</div>

<div class="text-center flex-col space-y-2 flex justify-center items-center text-lg sm:text-xl md:text-2xl text-slate-500 px-6 md:px-12 lg:px-20 py-10 md:py-20">
  <blockquote class="max-w-2xl">
    By the end of each module, it was incredible to see how much I had progressed compared to where I started. There were definitely challenges along the way, but 'strength through struggle' truly accelerated my growth as a developer. Skyfusion provided the perfect environment for continuous learning and development
  </blockquote>
  <span class="text-base sm:text-lg md:text-xl text-slate-400">
    Asiedu, GIMPA.
    5-Day Workshop, 2022
  </span>
</div>
