---
import Link from "@components/ui/link.astro";
---

<div class="bg-gradient-to-r from-fuchsia-600 to-indigo-600 min-h-screen px-6 md:px-12 lg:px-20 py-12 lg:py-24 mt-20 grid gap-8 items-center text-white">
  <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
    <section>
      <h2 class="text-3xl md:text-4xl font-bold mb-4">Unlock Your Tech Potential with Skyfusion! 🚀</h2>
      <p class="text-lg md:text-xl mb-6">
        Join our dynamic workshops and transform your skills with cutting-edge tech training. Whether you're a professional, student, or enthusiast, our hands-on sessions will empower you to excel in today's digital world. Our vibrant team is here to guide you every step of the way.
      </p>
      <p class="text-xl font-semibold mb-4">Ready to dive into the future of technology?</p>

      <a href="/sign-up" class="inline-block bg-purple-800 ring-2 ring-white hover:bg-indigo-800 text-xl text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out">Join us today</a>
    </section>

    <div class="hidden lg:block">
      <img src="/bg1.jpg" alt="Background Image" class="w-full h-auto rounded-lg shadow-lg" />
    </div>
  </div>
</div>


<div
  class="text-center flex-col space-y-2 flex justify-center items-center text-lg sm:text-xl md:text-2xl text-slate-500 px-6 md:px-12 lg:px-20 py-10 md:py-20">
  <blockquote class="max-w-2xl">
    By the end of each module, it was incredible to see how much I had progressed compared to where I started. There
    were definitely challenges along the way, but 'strength through struggle' truly accelerated my growth as a
    developer. Skyfusion provided the perfect environment for continuous learning and development
  </blockquote>
  <span class="text-base sm:text-lg md:text-xl text-slate-400">
    Asiedu, GIMPA.
    5-Day Workshop, 2022
  </span>
</div>
