---
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Custom Software Development",
    description:
      "We create tailored software solutions that meet your unique business needs, from initial concept to final deployment.",
    icon: "bx:bxs-devices",
  },
  {
    title: "Corporate Training Programs",
    description:
      "Enhance your team's skills with our customized training programs, designed to address your specific industry challenges.",
    icon: "bx:bxs-chalkboard",
  },
  {
    title: "Website and Web Application Development",
    description:
      "Build responsive, high-performance websites and web applications that provide seamless user experiences across all devices.",
    icon: "bx:bxs-chalkboard",
  },
  {
    title: "Mobile Application Development",
    description:
      "Develop robust mobile applications for iOS and Android platforms that deliver outstanding performance and usability.",
    icon: "bx:bxs-mobile",
  },
  {
    title: "AI Integration and Solutions",
    description:
      "Leverage the power of artificial intelligence with our custom AI solutions, from machine learning models to predictive analytics.",
    icon: "bx:bxs-brain",
  },
  {
    title: "Ongoing Support and Maintenance",
    description:
      "Ensure your software and applications remain up-to-date, secure, and efficient with our comprehensive support and maintenance services.",
    icon: "bx:bxs-wrench",
  },
];
---

<div class="mt-16 md:mt-0 px-4 md:px-12 lg:px-20 flex justify-center items-center flex-col py-10 text-center">
  <h2 class="text-3xl sm:text-4xl lg:text-5xl font-light lg:tracking-tight text-indigo-500">
    Empowering the Future through Education, Innovation, and AI
  </h2>
  <p class="text-base sm:text-lg lg:text-xl w-full max-w-3xl mt-4 text-slate-600">
    Skyfusion specializes in cutting-edge education and training solutions, custom software engineering,
    <wbr/> and advanced AI integration to drive your business forward.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8 md:gap-12 lg:gap-16 px-4 md:px-12 lg:px-20">
  {features.map((item) => (
    <div class="flex gap-4 items-start">
      <div class="mt-1 bg-blue-500 rounded-full p-2 w-12 h-12 flex items-center justify-center shrink-0 hover:text-slate-900">
        <Icon class="text-white" name={item.icon} />
      </div>
      <div> 
        <h3 class="font-semibold text-slate-700 hover:text-slate-900 text-lg lg:text-xl">{item.title}</h3>
        <p class="text-slate-600 mt-2 leading-relaxed hover:text-slate-900 text-base lg:text-lg">{item.description}</p>
      </div>
    </div>
  ))}
</div>
