<footer class="bg-gradient-to-t to-indigo-800 from-indigo-900 text-gray-300">
  <div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-6 gap-12 md:gap-12">
      <div class="col-span-2">
        <img src="/skyfusion-logo-W.png" class="w-4/6 -ml-2" alt="Skyfusion Logo" />
        <p class="text-sm">We teach you to understand how things work, this approach helps you to have mastery so you can easily apply it to your daily life.</p>
        <p class="mt-4 text-sm">Hybrid, 0206171719, Ghana</p>
        <p class="text-sm">learn@skyfusion.com</p>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4 mt-6">Quick Links</h3>
        <ul>
          <li><a href="/" class="hover:text-white">Home</a></li>
          <li><a href="/about" class="hover:text-white">About</a></li>
          <li><a href="/services" class="hover:text-white">Services</a></li>
          <li><a href="/contact" class="hover:text-white">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="border-t border-indigo-200 mt-8 pt-8 md:flex md:justify-between md:items-center">
      <p class="text-sm">&copy; 2024 Skyfusion. All rights reserved.</p>
      <div class="mt-4 md:mt-0">
        <a href="#" class="text-gray-400 hover:text-white mr-4">Twitter</a>
        <a href="#" class="text-gray-400 hover:text-white mr-4">LinkedIn</a>
        <a href="#" class="text-gray-400 hover:text-white">GitHub</a>
      </div>
    </div>
  </div>
</footer>
