---
let {email} = Astro.locals as any
---
<header class="bg-gray-100 shadow p-4">
    <div class="container mx-auto">
      <h1 class="text-xl font-medium text-gray-800">Welcome to your Dashboard     <p
        class="max-w-prose text-xl text-indigo-600 dark:text-indigo-400 font-semibold"
      >
        {email}
      </p></h1>
      <a
      href="/api/auth/signout"
      class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
      >Sign out</a
    >
    </div>
  </header>
  