---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import '@fontsource/poppins';
// Supports weights 100-900
import '@fontsource-variable/work-sans';
// import "@fontsource/inter/variable.css";
// Supports weights 200-800
import '@fontsource-variable/manrope';
// import "@fontsource/poppins/400.css";
import { ViewTransitions } from "astro:transitions";
import '../../app/globals.css';
export interface Props {
  title: string;
}

const user = {
  name: "Jane Doe",
  avatar: "https://via.placeholder.com/150",
};

---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Workshop Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .sidebar {
      min-height: 100vh;
    }

    .content {
      min-height: 100vh;
    }
  </style>
  <ViewTransitions/>
</head>

<body class="bg-gray-100">
  <div class="flex flex-col md:flex-row">
    <!-- Sidebar -->
    <aside class="sidebar bg-indigo-600 text-white w-full md:w-1/5 lg:w-1/6 p-4">
      <h1 class="text-2xl font-bold mb-6">Workshop Console</h1>
      <nav>
        <ul>
          <li class="mb-2">
            <a href="/dashboard" class="block p-2 rounded hover:bg-indigo-500">Dashboard</a>
          </li>
          <li class="mb-2">
            <a href="/dashboard/my-workshops" class="block p-2 rounded hover:bg-indigo-500">My Workshops</a>
          </li>
    
          <li class="mb-2">
            <a href="/dashboard/settings" class="block p-2 rounded hover:bg-indigo-500">Settings</a>
          </li>
          <li class="mb-2">
            <a href="/api/auth/signout" class="block p-2 rounded hover:bg-indigo-500">Sign out</a>
          </li>
        </ul>
      </nav>
    </aside>

    <!-- Content -->
    <main class="content flex-1 bg-white p-8">
      <header class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-semibold">Welcome Back, Raphael</h2>
        <button class="bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-500">Register for New Workshop</button>
      </header>




 <slot/>
    </main>
  </div>
</body>

</html>


